<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuan.dtrun.mapper.DtSourceMapper">

    <resultMap id="DtsourceMap" type="DtSourceEntity">
        <id property="id" column="id"></id>
        <result property="dtSourceName" column="dtSourceName"></result>
        <result property="dtSourceType" column="dtSourceType"></result>
        <result property="dtSourceJson" column="dtSourceJson"></result>
        <result property="createTime" column="createTime"></result>
        <association property="user" javaType="User">
            <id property="id" column="id"></id>
        </association>
    </resultMap>


    <insert id="create">
       INSERT INTO  dtsource (dtSourceName,dtSourceType,dtSourceJson,createTime,uid) VALUES (#{dtSourceName},#{dtSourceType},#{dtSourceJson},#{createTime},#{user.id})
    </insert>

    <select id="getDtSourceById" resultType="DtSourceEntity">
       SELECT dtSourceName,dtSourceType,dtSourceJson FROM dtsource  WHERE  id=#{id}
    </select>

    <select id="getDtSourceName" resultType="string">
        SELECT dtSourceName FROM dtsource  WHERE  dtSourceName=#{dtSourceName}
    </select>

    <select id="getAllDtSourceName" resultType="DtSourceEntity">
       SELECT id,dtSourceName FROM dtsource  WHERE  uid=#{id} ORDER BY createTime DESC
    </select>

    <select id="findAll" resultMap="DtsourceMap">
       SELECT dts.id,dts.dtSourceName,dts.dtSourceType,dts.dtSourceJson,dts.createTime FROM dtsource dts LEFT JOIN user u ON dts.uid = u.id  WHERE  u.id=#{id}
    </select>

    <update id="update">
       UPDATE dtsource SET dtSourceName=#{dtSourceName},dtSourceType=#{dtSourceType},dtSourceJson=#{dtSourceJson} WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM dtsource WHERE id IN
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>
</mapper>