<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuan.dtrun.mapper.ResultMapper">


    <insert id="create">
       INSERT INTO  result (startTime,endTime,result,failReason,timeConsume,fileCount,fileMessageList,mid) VALUES (#{startTime},#{endTime},#{result},#{failReason},#{timeConsume},#{fileCount},#{fileMessageList},#{mid})
    </insert>

    <select id="getResultById" resultType="com.xuan.dtrun.entity.ResultEntity">
        SELECT * FROM result WHERE mid=#{id} ORDER BY startTime DESC
    </select>


</mapper>