<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuan.dtrun.mapper.UserMapper">


    <select id="login" resultType="user">
       SELECT id,username,iconUrl,isUse FROM user WHERE account=#{account} AND password= #{password}
    </select>

    <insert id="register" parameterType="user">
       INSERT INTO user (account,password,username,createTime,isUse,iconUrl,registerCode) VALUES (#{account},#{password},#{username},#{createTime},1,#{iconUrl},#{registerCode})
    </insert>

    <select id="isRegister" resultType="int">
       SELECT count(1) FROM user WHERE account = #{account}
    </select>

    <select id="findUserById" resultType="user">
       SELECT * FROM user WHERE id= #{id}
    </select>

    <update id="modifyPassword">
      UPDATE user SET password = #{newPassword} WHERE id=#{id}
    </update>

    <select id="verifyRegisterCode" resultType="registerCode">
        SELECT * FROM registercode WHERE registerCode = #{registercode}
    </select>

    <update id="updateRegisterCodeStatus">
        UPDATE  registercode SET isUse= 0 WHERE id = #{id}
    </update>

</mapper>