<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuan.dtrun.mapper.UserMapper">


    <select id="login"   resultType="user">
        select id,username,iconUrl,isUse from user where account=#{account} and password=#{password}
    </select>

    <insert id="save"  parameterType="user">
          insert into  user (account,password,username,createTime,isUse,iconUrl) VALUES (#{account},#{password},#{username},#{createTime},1,#{iconUrl})
    </insert>

   <select id="findUserById" resultType="user">
       select *  from  user where id=#{id}
   </select>
   <update id="modifyPassword">
      UPDATE user  SET  password =#{newPassword} WHERE id=#{id}
   </update>
</mapper>